@keyframes heartbeat {
  0%,
  100% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.08);
  }
  20% {
    transform: scale(0.98);
  }
  30% {
    transform: scale(1.05);
  }
  40% {
    transform: scale(0.97);
  }
  50% {
    transform: scale(1.03);
  }
  60% {
    transform: scale(1);
  }
}

.animate-heartbeat {
  animation: heartbeat 10s infinite;
  transform-origin: center center;
}
@import "tailwindcss";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@theme {
  --color-primary: #39669b;
  --color-primary-light: #ecf1fb;
  --color-secondary: #e11711;
  --color-secondary-light: #4f8bd0;

  --default-font-family: "Epilogue", sans-serif;
}

/* Define las animaciones personalizadas */
@layer theme {
  @keyframes randomMove {
    0% {
      transform: translate(0, 0) scale(1);
    }
    25% {
      transform: translate(200px, -30px) scale(1.5);
    }
    50% {
      transform: translate(-80px, 60px) scale(1);
    }
    75% {
      transform: translate(30px, -50px) scale(1.1);
    }
    100% {
      transform: translate(0, 0) scale(1);
    }
  }

  .animate-random-move {
    animation: randomMove 10s infinite ease-in-out;
  }
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Epilogue", sans-serif;
}
